<div id="change-location-container" style="display: none;">
    <form id="change-location-form" class="form-inline" style="float:right">
        <input required type="text" id="change-location-lat"/>
        <input required type="text" id="change-location-lon"/>
        <input class="btn btn-primary" type="submit" value="Teleport!">
    </form>
</div>