
@model ChatLoco.Models.User_Model.LoginRequestModel


<div id="settings-container">
    <div class="col-md-12">
        <div class="white">
            <div id="settings-information-container">
                <div id="settings-errors" class="text-danger"></div>
                <div id="settings-form-container">
                    <form id="settings-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style=" color:black;" for="formGroupEmail">Email</label>
                                    <input style="max-width:100%; background-color: white; color:black;" type="email" class="form-control" name="Email" id="email-input" required />
                                </div>
                                <div class="form-group">
                                    <label style="color:black;" for="formGroupDefaultHandle">Default Handle</label>
                                    <input style="max-width:100%; background-color: white; color:black;" type="text" class="form-control" name="DefaultHandle" id="default-handle-input" required />
                                </div>
                                <div class=" col-md-offset-2 col-md-8 form-group" style="text-align:center">
                                    <input id="submit" name="submit" type="submit" value="Update" class="btn btn-lg btn-block" style="color:#ffffff; background-color: #39b3d7;">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/user")