
<div class="panel-title" style="max-width:100%;">
    <h2>
        User Management
    </h2>
    <br />
    <form class="row col-md-12" id="manage-users-form" method="post">
        <div class="form-group">
            <label class="h3">Username</label>
            <input type="text" class="form-control" id="Username" name="name" required>
        </div>
        <div class="form-group">
            <label class="h3">Action</label>
            <div class="form-inline col-md-12">
                <label><input type="radio" name="action" value="MakeAdmin" checked>Make Admin</label>
                <label><input type="radio" name="action" value="Block" />Block User</label>
                <label><input type="radio" name="action" value="Unblock" />Unblock User</label>
                <label><input type="radio" name="action" value="Delete" />Delete Account</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Perform Action" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/bundles/Admin")
@Scripts.Render("~/bundles/user")