@model ChatLoco.Models.User_Model.LoginRequestModel

<div id="login-container" >

    <h2>User Login</h2>

    <div id="login-information-container">
        <div id="login-errors" class="text-danger"></div>
        <div id="login-form-container">
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id="login-form" }))
            {
                @Html.AntiForgeryToken()
                <br />
                <p> Username: @Html.TextBoxFor(model => model.Username, new { @id = "username-input", @class = "form-control"}) </p>
                <br />
                <p> Password: @Html.PasswordFor(model => model.Password, new { @id = "password-input", @class="form-control", @type="password"}) </p>
                <input type="submit" class="btn btn-lg btn-block" style="color:#ffffff; background-color: #39b3d7;"/>
            }
        </div>
    </div>
</div>

<div hidden id="user-activated-dialog">
    <p id="user-activated-status"></p>
    <form id="user-activated-form">
        Activation Code: <input type="text" id="activation-input" />
    </form>
</div>

@Scripts.Render("~/bundles/user")