@model ChatLoco.Models.User_Model.UserInfoResponseModel

<div id="user-info-container">
    <div class="col-md-12">
        <div class="white">
            <div id="user-information-container">
                <div id="user-info-form-container">
                    <form id="user-info-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style=" color:black;" for="formGroupUsername">Username: </label>
                                    <label style=" color:black;" for="formGroupUsername" id="username-label">@Model.Username</label>
                                </div>
                                <div class="form-group">
                                    <label style="color:black;" for="formGroupDefaultHandle">Default Handle: </label>
                                    <label  style=" color:black;" for="formGroupDefaultHandle" id="defaulthandle-label">@Model.DefaultHandle</label>
                                </div>
                                <div class="form-group">
                                    <label style=" color:black;" for="formGroupEmail">Email: </label>
                                    <label style=" color:black;" for="formGroupEmail" id="Email-label">@Model.Email</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



