
<div id="notifications-container">

    <div id="loading-container" hidden>
        <img src="~/Content/images/Loading.gif" />
    </div>

    <div id="dim-container" hidden>
        
    </div>

</div>

@Scripts.Render("~/bundles/notifications")