@model ChatLoco.Models.User_Model.UserInfoResponseModel

<div id="user-info-container">
    <div class="col-md-12">
        <div class="white">
            <div id="info-container">

            </div>
        </div>
    </div>
</div>
